<root>
	<FileGroup Name="utils.min.js">
		<File Path="command.js" />
		<File Path="pagedobservablearray.js" />
		<File Path="pagedlist.js" />
	</FileGroup>

	<FileGroup Name="utils.js" Minify="false">
		<File Path="command.js" Minify="false" />
		<File Path="pagedobservablearray.js" Minify="false" />
		<File Path="pagedlist.js" Minify="false" />
	</FileGroup>
</root>